### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
#purchase_data.head()

## Player Count

* Display the total number of players

In [2]:
#get total players by unique names in SN column, place in data frame for display
total_player_count = pd.DataFrame({"Total Players":[purchase_data["SN"].nunique()]})
total_player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#collect purchase data in variables for clarity

#number of items by count of unique entries in Item ID column 
items_unique_count = purchase_data["Item ID"].nunique()

#average(mean) of price of items purchased 
item_avg_price = purchase_data["Price"].mean()

#total number of items purchased by count total entries in Item ID column
item_total_purchased = purchase_data["Item ID"].count()

#total revenue from purchases
item_total_revenue = purchase_data["Price"].sum()

In [4]:
#create datafram to display collected data
purchase_analysis = pd.DataFrame({"Number of Unique Items":[items_unique_count],"Average Price":[item_avg_price],"Number of Purchases":[item_total_purchased],"Total Revenue":[item_total_revenue]})

#format datafarme for nice currency display, escape $ for better github display?
purchase_analysis = purchase_analysis.style.format({'Average Price':'\${:,.2f}', 'Total Revenue': '$\$${:,.2f}'})

#display dataframe of purchasing anlysis 
purchase_analysis

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#collect purchase data in variables for clarity

#collect data grouped by gender
purchase_data_gender = purchase_data.groupby(['Gender'])

#removed conversion to df, serries columns renamed during merge
#total players from gender grouped dataframe
total_players_gender = purchase_data_gender["SN"].nunique()

#what percent of total per gender, vector math
total_players_percent=total_players_gender / purchase_data["SN"].nunique() * 100

#merge dataframes into full analysis, give series column names here
total_player_count_gender = pd.concat([total_players_gender.rename("Total Player Count"),total_players_percent.rename("Total Percent")],axis=1)

#format for nice display
#remove index for cleaner display
total_player_count_gender.index.name = None

#sort, format percent column, output result
total_player_count_gender.sort_values(["Total Player Count"], ascending = False).style.format({"Total Percent":'{:.2f}%'})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#collect purchase data in variables for clarity
#purchase_data_gender=purchase_data.groupby(['Gender']), defined above
#total_players_gender = purchase_data_gender["SN"].nunique() defined above

#total player purchases from gender grouped dataframe
total_purchase_count_gender = purchase_data_gender["Item ID"].count()

#average price of player purchase from gender grouped dataframe
total_purchase_average_gender = purchase_data_gender["Price"].mean()

#total price of purchases per player from gender grouped dataframe
total_purchase_price_gender = purchase_data_gender["Price"].sum()

#average total price of purchases per player from gender grouped dataframe, use total_players_gender from above
average_purchasse_price_gender = total_purchase_price_gender / total_players_gender

#merge dataframes into full analysis, give series column names here
purchase_analysis_gender = pd.concat([total_purchase_count_gender.rename("Purchase Count"),total_purchase_average_gender.rename("Average Purchase Price"),total_purchase_price_gender.rename("Total Purchase Value"),average_purchasse_price_gender.rename("Avg Total Purchase per Person")],axis=1)

#format for nice display
#format for price, output result
purchase_analysis_gender.style.format({'Average Purchase Price':'$\$${:,.2f}', 'Total Purchase Value': '$\$${:,.2f}', 'Avg Total Purchase per Person': '$\$${:,.2f}'})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
#define bins to cut age groups into
bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]
labels = ['<10', '10-14', '15-19', '20-24', '26-29', '30-34', '35-39', '40+']

#add binned data to new Age Group column in original df 
purchase_data["Age Group"] = pd.cut(purchase_data['Age'], bins, labels = labels)

#new dataframe grouped by bins
purchase_data_age_group =  purchase_data.groupby("Age Group")

#find how many players in each bin
total_player_count_age=purchase_data_age_group["SN"].nunique()

#find what percent of tatal players each bin represents
total_player_percent_age = total_player_count_age / purchase_data["SN"].nunique() * 100

#merge dataframes into full analysis, give series column names here
total_players_count_age = pd.concat([total_player_count_age.rename('Total Count'),total_player_percent_age.rename('Percentage of Players')],axis=1)

#format for nice display
#format for price, output result
total_players_count_age.style.format({"Percentage of Players":"{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#purchase_data_age_group =  purchase_data.groupby("Age Group") defined above
#total_player_count_age=purchase_data_age_group["SN"].nunique() defined above

#total group purchases from age grouped dataframe
total_purchase_count_age = purchase_data_age_group["Item ID"].count()

#average price of group purchase from age grouped dataframe
total_purchase_average_age = purchase_data_age_group["Price"].mean()

#total price of purchases per group from age grouped dataframe
total_purchase_price_age = purchase_data_age_group["Price"].sum()

#average total price of purchases per group from age grouped dataframe, use total_players_age from above
average_purchasse_price_age = total_purchase_price_age / total_player_count_age

#merge dataframes into full analysis, give series column names here
purchase_analysis_age = pd.concat([total_purchase_count_age.rename('Purchase Count'),total_purchase_average_age.rename('Average Purchase Price'),total_purchase_price_age.rename('Total Purchase Value'),average_purchasse_price_age.rename('Avg Total Purchase per Person')],axis=1)

#format for nice display
#format for price, output result
purchase_analysis_age.style.format({'Average Purchase Price':'$\$${:,.2f}', 'Total Purchase Value': '$\$${:,.2f}', 'Avg Total Purchase per Person': '$\$${:,.2f}'})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
#new dataframe grouped by SN (name)
purchase_data_name_group =  purchase_data.groupby("SN")

#total player purchases from name grouped dataframe
total_purchase_count_name = purchase_data_name_group["Item ID"].count()

#total price of purchases per SN (name) from name grouped dataframe
total_purchase_price_name = purchase_data_name_group["Price"].sum()

#average price of purchases per player from name grouped dataframe
average_purchase_price_name = total_purchase_price_name / total_purchase_count_name

#merge dataframes into full analysis, give series column names here
purchase_analysis_name = pd.concat([total_purchase_count_name.rename('Purchase Count'),average_purchase_price_name.rename('Average Purchase Price'),total_purchase_price_name.rename('Total Purchase Value')],axis=1)

#format for nice display
#format for price, output result
purchase_analysis_name.sort_values(["Total Purchase Value"], ascending = False).head().style.format({'Average Purchase Price':'$\$${:,.2f}', 'Total Purchase Value': '$\$${:,.2f}'})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
#make new dataframe with select columns
most_popular_df = purchase_data[['Item ID','Item Name', 'Price']]

#group new frame by Item ID and Name
most_popular_df = most_popular_df.groupby(["Item ID","Item Name"])

#total purchases from item grouped dataframe
total_purchase_count_item = most_popular_df["Item ID"].count()

#total purchase value from item grouped dataframe
total_purchase_value_item = (most_popular_df["Price"].sum())
 
#item price, can't figure out how to directly pull so will do math instead
item_price_item = total_purchase_value_item / total_purchase_count_item

#merge dataframes into full analysis, give series column names here
most_popular_analysis = pd.concat([total_purchase_count_item.rename('Purchase Count'), item_price_item.rename('Item Price'), total_purchase_value_item.rename('Total Purchase Value')],axis=1)

#format for nice display
#format for price, output result
most_popular_analysis.sort_values(["Purchase Count"], ascending = False).head().style.format({'Item Price':'$\$${:,.2f}', 'Total Purchase Value': '$\$${:,.2f}'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [13]:
#format for nice display
#format for price, output result
most_popular_analysis.sort_values(["Total Purchase Value"], ascending = False).head().style.format({'Item Price':'$\$${:,.2f}', 'Total Purchase Value': '$\$${:,.2f}'})